.contact {
    padding: 120px 5%;
    background: var(--bg-section);
}

.contact-container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.contact-description {
    color: var(--text-gray);
    line-height: 1.8;
    margin-bottom: 40px;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.contact-btn {
    background: var(--primary);
    color: white;
    text-decoration: none;

    padding: 14px 28px;
    border-radius: 999px;
}

.contact-btn-outline {
    border: 2px solid var(--primary);
    color: var(--primary);

    text-decoration: none;

    padding: 14px 28px;
    border-radius: 999px;
}
@media (max-width: 768px) {
    .contact-buttons {
        flex-direction: column;
        align-items: center;
    }

    .contact-btn,
    .contact-btn-outline {
        width: 220px;
    }
}
